{% load static %}
<div class="footer-clean">
    <footer>
        <div class="container text-white">
            <div class="row justify-content-center">
                <div class="col-sm-4 col-md-3 item">
                    <h3>Site içi bağlantılar</h3>
                    <ul>
                        <li><a href="#">Anasayfa</a></li>
                        <li><a href="#">Kurumsal</a></li>
                        <li><a href="#">Projelerimiz</a></li>
                    </ul>
                </div>
                <div class="col-sm-4 col-md-3 item">
                    <h3>Hakkında</h3>
                    <ul>
                        <li><a href="#">Ekibimiz</a></li>
                        <li><a href="#">Misyonumuz</a></li>
                        <li><a href="#">Vizyonumuz</a></li>
                    </ul>
                </div>
                <div class="col-sm-4 col-md-3 item">
                    <h3>İletişim</h3>
                    <ul>
                        <li><a href="#">Bize ulaşın</a></li>
                        <li><a href="#">Adresimiz</a></li>
                        <li><a href="#">Bizi arayın</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 item social"><a href="#">
                    <i class="icon fa fa-facebook"></i></a>
                    <a href="#"><i class="icon fa-brands fa-x-twitter"></i></a>
                    <a href="#"><i class="icon fa fa-instagram"></i></a>
                    <p class="copyright">PAFA Mimarlık&Mühendislik © 2024</p>
                </div>
            </div>
        </div>
    </footer>
</div>