{% load static %}
<header class="header-top animbase anim03" id="header">
    <div class="header-content">
        <div class="header-logo-wrapper" id="header_logo">
            <img class="" src="{% static 'img/pafa-logo.jpg' %}" alt="" >
        </div>
        <div class="header-ul-wrapper">
            <ul class="header-ul">

                <li class="header-li">
                    <a href="#" class="header-tab">Anasayfa</a>
                </li>
                
                <li class="header-li">
                    <a href="#" class="header-tab">Projelerimiz</a>
                    <ul class="header-dropdown">
                        <li class="header-dropdown-li"><a href="#" class="header-dropdown-tab">Dropdown 1123123123</a></li>
                        <li class="header-dropdown-li"><a href="#" class="header-dropdown-tab">Dropdown 2123123123</a></li>
                        <li class="header-dropdown-li"><a href="#" class="header-dropdown-tab">Dropdown 3123123123</a></li>
                    </ul>
                </li>
                <li class="header-li"><a href="#" class="header-tab">Hakkımızda</a></li>
                <li class="header-li"><a href="#" class="header-tab">Kurumsal</a></li>
                <li class="header-li"><a href="#" class="header-tab">İletişim</a></li>
            
            </ul>
        </div>
    </div>
</header>